.box-container div {
	background-color: red;
}

.box-container .yellow {
	background-color: yellow;
}



/*.button {
  width: 100px;
  height: 100px;
  margin: 0;
}

.highlight {
  background-color: yellow;
}

.highlight {
  background-color: red;
}*/
